
<!-- Carousel -->
<div id="myCarousel" class="container" style="width: 60%">
  <h2 align="center">Welcome to Employee Registration Portal</h2>
  <img src="../../assets/img1.jpg" style="width:100%;height: 70%">
  <div >

  </div>

  <!--<div class="carousel slide" data-ride="carousel">
    &lt;!&ndash; Indicators &ndash;&gt;
    <ol class="carousel-indicators">
      <li target="#myCarousel" data-slide-to="0" class="active"></li>
      <li target="#myCarousel" data-slide-to="1"></li>
      <li target="#myCarousel"  data-slide-to="2"></li>
    </ol>

    &lt;!&ndash; Wrapper for slides &ndash;&gt;
    <div class="carousel-inner">
      <div class="item active">
        <img src="../../assets/img1.jpg" alt="Employee Registrations" style="width:100%;height: 70%">
        <div class="carousel-caption">
          <h3>Employee Registration Portal</h3>
        <p>Proceed with Employee Registrations!</p>
        </div>
      </div>

      <div class="item">
        <img src="" alt="Hurry Up!" style="width:100%; height: 70%">
        <div class="carousel-caption">
          <h3>Employee Registration Portal</h3>
        <p>Hurry Up!</p>
        </div>
      </div>

      <div class="item">
        <img src="" alt="View Our Employees" style="width:100%;height: 70%">
        <div class="carousel-caption">
          <h3>Employee Registration Portal</h3>
          <p>View Our Employees!</p>
        </div>
      </div>
    </div>

    &lt;!&ndash; Left and right controls &ndash;&gt;
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>-->
</div>


