<div  *ngIf="employees && employees.length==0" style="text-align: center">
<h3>Sorry! there are no Employees</h3>
<h4>Proceed to 'Register' tab to add new employees. Thank you! :)</h4>
</div>
<div *ngIf="employees" class="container">
  <h2>Employee Details</h2>
  <p>The below table describes employee basic details USING ANGULAR MATERIAL TABLE:</p>

<div class="mat-elevation-z8">
  <mat-table style="text-align: center" #table [dataSource]="dataSource">

    <!-- first name Column -->
    <ng-container matColumnDef="First Name">
      <mat-header-cell *matHeaderCellDef> First Name</mat-header-cell>
      <mat-cell *matCellDef="let emp"> {{emp.firstName}}</mat-cell>
    </ng-container>

    <!-- last name Column -->
    <ng-container matColumnDef="Last Name">
      <mat-header-cell *matHeaderCellDef> Last Name</mat-header-cell>
      <mat-cell *matCellDef="let emp"> {{emp.lastName}}</mat-cell>
    </ng-container>

    <!-- gender Column -->
    <ng-container matColumnDef="Gender">
      <mat-header-cell *matHeaderCellDef> Gender</mat-header-cell>
      <mat-cell *matCellDef="let emp"> {{emp.gender}}</mat-cell>
    </ng-container>

    <!-- dob Column -->
    <ng-container matColumnDef="Dob">
      <mat-header-cell *matHeaderCellDef> Dob</mat-header-cell>
      <mat-cell *matCellDef="let emp"> {{emp.dob}}</mat-cell>
    </ng-container>

    <!-- department Column -->
    <ng-container matColumnDef="Department">
      <mat-header-cell *matHeaderCellDef> Department</mat-header-cell>
      <mat-cell *matCellDef="let emp"> {{emp.department}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
<br>



  <p>The below table describes employee basic details USING BOOTSTRAP:</p>
  <table class="table table-hover table-bordered">
    <thead>
    <tr class="info">
      <th class="text-center" *ngFor="let col of displayedColumns">{{col}}</th>

    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let data of employees">
      <td class="text-center"> {{data.firstName}}</td>
      <td class="text-center"> {{data.lastName}}</td>
      <td class="text-center"> {{data.gender}}</td>
      <td class="text-center"> {{data.dob}}</td>
      <td class="text-center"> {{data.department}}</td>

    </tr>
    </tbody>
  </table>
</div>
